body{
    overflow-x: hidden;
    background-color: #f2f2f2 !important;
}
/* kk */
a{
    text-decoration: none !important;
}
img{
    cursor: pointer;
}
hr{
    height: 3px !important;
}

.logout_btn{

    background-color: transparent;
    font-style: italic;
    border: none;

}
/* .nav-icons{
    height: 30px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: relative;
} */
.fa-bell{
    position: relative;
}
.notificationicon{
    
    margin-top: -3px !important;
    padding-left: 2px;
    position: absolute;

    /* padding-top: 20px; */

}
.slide_image_parent{
    position: relative;

}
.dim_backgroud{
    overflow: hidden;
}
.caption, .caption_wrapper{
    background: rgba(0, 0, 0, 0.4) !important;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.caption p{
  font-family: cursive;
  font-style: italic;
  text-transform: capitalize;

}
.caption h2{
   color: orange;
   padding: 5px;
   text-transform: capitalize;
   text-align: center;

}
.caption button{
   border: 1px solid orange;
   padding: 10px;
   text-transform: capitalize;
   text-align: center;
   border-radius: 60px;
   
   background:rgba(0, 0, 0, 0.5)  ;
   

}
.caption button:hover{
   /* border: 1px solid orange; */
   padding: 10px;
   text-transform: capitalize;
   text-align: center;
   border-radius: 60px;
   background-color: orange;
   
}
.caption button a{
   text-transform: capitalize;
   text-decoration: none;
   color: #f2f2f2
   
}
.slide_image{
/* position: absolute; */
}

/* stylings for the hostel details  */
.hostel_body{
    background-color: #f1f1f1;
    padding: 30px 10px;
}
.header_div{
   
    align-items: center;
    justify-content: center;
     flex-direction: column;
     display: flex;
     align-items: center;
     justify-content: center;
}
.header_div h3{
    color: #333;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#small_hr{
    height: 5px;
    border-radius: 10px;
    width: 200px;
    background-color:orangered;
    margin-top: -5px;
}

/* stylings for the hostel_detail_container */
.hostel_detail_container{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    justify-content: center;
}

/* media queries */
@media only screen and (max-width: 850px) {
    .hostel_detail_container {
       display: inline-block;
       width: 190vw;
       height: auto;
    }
    .hostel_detail_container .hostel_image{
       width: 100%;
    }
}
.hostel_detail_container .hostel_image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 800px;
    margin-right: 10px;
    
}
.hostel_detail_container .hostel_image img{
    cursor: pointer;
    width: 100%;
    height: 80%;
    
}
.hostel_details{
    /* background-color: red; */
    width: 70%;
    margin-left: 10px;
    position: relative;
}
.hostel_details .user_image{
    position: absolute;
    right: 10px;
    
}
.hostel_details img{
    border: 2px solid rgb(139, 139, 139);
    width: 100px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
}
.hostel_details .name{
   color: rgb(139, 139, 139);
   font-family: cursive;
   text-transform: capitalize;
}

.hostel_crdentials{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-transform: capitalize; */
    color: rgb(59, 58, 58);
    margin-top: -300px;
    
}
.detail_wrapper{
    display: flex;
}
.table_head, .describe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 120px;
    color: #888;
    
    
}
.detail_value{
    font-size: 15px;
    color: #888;
}
.hostel_crdentials .describe{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    text-transform: capitalize;

}
 
/* styling for the room cards*/
.rooms{
    text-align: center;
}
.roomsavailable{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 20px;

}

.rooms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rooms hr{
    height: 5px;
    border-radius: 10px;
    width: 200px;
    background-color:orangered;
    margin-top: -5px;
    margin-bottom: 20px;
}

.card{
    display: flex !important;
    flex-direction: row;
    background-color: #fff;

}
.card:hover{
    box-sizing: border-box;
   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);

}
.card .card_datails{
   margin-left: 15px;
}
.card .card_datails div{
   color: #888;
}

.action{
    position: relative;
}
.card .card_datails .action button{
   padding: 5px 10px;
   background-color: #fff;
margin-top: 30px;
}
.card .card_datails .action button a{
text-decoration: none;
}
#book_btn{
border: 1px solid orange;
/* background-color: red; */
color:white ;

}
#book_btn:hover{
background-color: orange;
color:white ;

}

#details_btn{
    border: 1px solid teal;
    background-color: teal;
    color: white;
}
#details_btn:hover{
    background-color:white;
    color: white;
}
#details_btn:hover a{
    color: teal;
}
#details_btn a{
    color: white;
}
.slider_hostel_p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*  */
/* stylings for the cars that displays the hostels */
#all_hostel{
    position: relative;
    width: 85%;
    margin: 100px auto;
}

.all_hostel_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid: 30px;
    padding:10px;
    margin: 20px 20px;
    min-height: 300px !important;   
}
.error_icon{
    position: absolute;
}
.div{
    background-color: red;
    width: 70%;
}


.card_container{
    box-sizing: border-box;
    margin: 10px 10px;
    border-radius: 10px;
    overflow: hidden;

 
}
.card_container:hover{
    box-shadow: 1px 2px 5px;
    
}
.card_container .cards{
    width: 100%;
    overflow: hidden;
    position: relative;

 
}
.card_container .cards .image{
    width: 100%;
    transition: .2s;
    overflow: hidden;
}
.card_container .cards .image:hover img{
    transform: scale(1.1);
    transition: .2s;

 
}
.card_container .cards .image img{
    cursor: pointer;
    width: 100%;
    height: 300px;
 
}

.card_hostel_name{
text-align: center;
font-family: cursive;
padding: 10px;
color: #333;
text-transform: uppercase;
background-color: rgb(219, 219, 219);

}
.view_hostel_details_btn{
    background-color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px 40px;
    color: white;
    margin: 0px 0px;
    width: 100%;
    position: relative;
}
.view_hostel_details_btn:hover{
    background-color: rgb(99, 65, 2);
 
}
.view_hostel_details_btn a{
    width: 100%;
    height: 100%;
    color: white;
}

/* the room details stylings */
/* the room details stylings */
/* the room details stylings */
/* the room details stylings */
/* the room details stylings */
/* the room details stylings */
.image_wrapper{
    width: 100%;
   display: flex;
    bottom: 0;
    height: 200px;
}
.image_wrapper img{
    width: 25%;
    height: 200px !important;
    margin: 0px !important;
    cursor: pointer;
}
 .owl-prev{
     font-size: 30px;
 }

 /* notificationnotificationnotification */

 .notification{
    background-color: red !important;
    width: 200px !important;
 }


